.footer{
  height: 60px;
  display: flex;
  align-items: center;
}
.footer-logo{
  margin-left: 82px;
}
.copyright-2024{
  font-size: 11px;
  margin-left: 17px;
}
.footer-contents{
  color: rgb(103, 103, 103);
  font-size: 12px;
  margin-left: 17px;
}
.footer-contents:hover{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.footer-language{
  display: flex;
  align-items: center;
  color: rgb(103, 103, 103);
}
.footer-language:hover{
  cursor: pointer;
  color: blue;
}
.language-left{
 font-size: 12px;
}
.language-right{
margin-left: -5px;
}